<div class="absolute flex  fade-bottom -z-10 ">
    <img class="relative   opacity-50  " width="1920" src="assets/gradient.svg" alt="asdsad">
    <img class=" absolute  opacity-15  " width="1920" src="assets/Vector.svg" alt="asdsad">
</div>

<div class="mx-4 scroll-smooth font-poppins   relative lg:mx-16">
  
    <header [ngClass]="{ 'backdrop-blur' : isScrolled }"
        class="flex flex-wrap  transition-all duration-300  items-center justify-between z-30   top-0 left-0 right-0 p-2 lg:p-3 sticky border-slate-300">
        <div class="logo">
            <img height="32" src="assets/logo.svg" alt="">
        </div>

        <div class="hidden md:block">
            <ul class="flex font-medium text-sm lg:text-base lg:gap-6 gap-4">
                <li class="hover:text-blue-600 cursor-pointer hover:underline hover:underline-offset-2">Product</li>
                <li class="hover:text-blue-600 cursor-pointer hover:underline hover:underline-offset-2">Solutions</li>
                <li class="hover:text-blue-600 cursor-pointer hover:underline hover:underline-offset-2">Learn</li>
                <li class="hover:text-blue-600 cursor-pointer hover:underline hover:underline-offset-2">Pricing</li>
                <li class="hover:text-blue-600 cursor-pointer hover:underline hover:underline-offset-2">Enterprise</li>
            </ul>
        </div>

        <div class="flex justify-end">
            <button (click)="navigateToLogin()"
                class="group/button relative inline-flex items-center justify-center overflow-hidden rounded-md bg-blue-500 hover:bg-blue-700 px-4 py-2 text-sm lg:text-base font-semibold text-white transition-all duration-300 ease-in-out">
                <span>Try for free</span>
                <div
                    class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-6deg)_translateX(-100%)] group-hover/button:[transform:skew(-13deg)_translateX(100%)]">
                    <div class="relative h-full w-10 bg-white/30"></div>
                </div>
            </button>
        </div>
    </header>


   
</div>

<section class="intro relative font-poppins flex flex-col items-center text-center gap-8 pt-16 lg:pt-36 pb-6">

    <div class="font-bold text-3xl lg:text-7xl">
        <p>Give Your Team a</p>
        <p class="text-blue-600">Tool to Manage Projects</p>
        <p class="text-xs lg:text-lg text-slate-500 pt-3">The All-in-One Solution for project management</p>
    </div>

    <div class="flex flex-wrap justify-center gap-4">
        <button class="px-4 py-2 lg:px-6 lg:py-3 bg-blue-600 text-white rounded-full text-sm lg:text-base">Learn
            More</button>
        <button
            class="px-4 py-2 lg:px-6 lg:py-3 text-blue-600 border border-blue-600 rounded-full bg-white text-sm lg:text-base">
            Get Started
        </button>
    </div>

    <div class="relative w-full flex justify-center mt-6">
       
        <div class="bg-blue-600 opacity-20 h-64 w-64 lg:w-96 lg:h-96 rounded-full blur-3xl absolute"></div>
       
        <img class="relative z-10 max-w-full" src="assets/landing.svg" alt="Landing Image">
    </div>
</section>

<section class="bg-gray-200 font-poppins shadow-sm  flex flex-col gap-6 py-12">
    <div class="text-center font-medium py-6 text-2xl lg:text-4xl">
        <h1>Features and Benefits</h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mx-4 lg:mx-20">
        
        <div class="border flex flex-col gap-3 bg-white shadow-sm p-4 rounded-2xl">
            <div class="Header flex items-center gap-2">
                <div class="logo w-10 h-10 bg-blue-600 rounded-full"></div>
                <div class="Heading-name text-lg font-medium">Kanban View</div>
            </div>
            <p class="text-sm leading-relaxed">
                Organize your workflow effortlessly with our intuitive Kanban feature. Visualize tasks, prioritize
                effectively, and track progress across customizable boards.
            </p>
        </div>

  
        <div class="border flex flex-col gap-3 bg-white shadow-sm p-4 rounded-2xl">
            <div class="Header flex items-center gap-2">
                <div class="logo w-10 h-10 bg-blue-600 rounded-full"></div>
                <div class="Heading-name text-lg font-medium">Kanban View</div>
            </div>
            <p class="text-sm leading-relaxed">
                Organize your workflow effortlessly with our intuitive Kanban feature. Visualize tasks, prioritize
                effectively, and track progress across customizable boards.
            </p>
        </div>

        <div class="border flex flex-col gap-3 bg-white shadow-sm p-4 rounded-2xl">
            <div class="Header flex items-center gap-2">
                <div class="logo w-10 h-10 bg-blue-600 rounded-full"></div>
                <div class="Heading-name text-lg font-medium">Kanban View</div>
            </div>
            <p class="text-sm leading-relaxed">
                Organize your workflow effortlessly with our intuitive Kanban feature. Visualize tasks, prioritize
                effectively, and track progress across customizable boards.
            </p>
        </div>
        <div class="border flex flex-col gap-3 bg-white shadow-sm p-4 rounded-2xl">
            <div class="Header flex items-center gap-2">
                <div class="logo w-10 h-10 bg-blue-600 rounded-full"></div>
                <div class="Heading-name text-lg font-medium">Kanban View</div>
            </div>
            <p class="text-sm leading-relaxed">
                Organize your workflow effortlessly with our intuitive Kanban feature. Visualize tasks, prioritize
                effectively, and track progress across customizable boards.
            </p>
        </div>
        <div class="border flex flex-col gap-3 bg-white shadow-sm p-4 rounded-2xl">
            <div class="Header flex items-center gap-2">
                <div class="logo w-10 h-10 bg-blue-600 rounded-full"></div>
                <div class="Heading-name text-lg font-medium">Kanban View</div>
            </div>
            <p class="text-sm leading-relaxed">
                Organize your workflow effortlessly with our intuitive Kanban feature. Visualize tasks, prioritize
                effectively, and track progress across customizable boards.
            </p>
        </div>

    </div>
</section>

<section class="py-12 font-poppins ">
    <div class="Header text-2xl lg:text-4xl py-6  font-medium text-center ">
        <div>What our Customer Say</div>
    </div>


    <div class=" testimonial-section grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:mt-12 gap-6 mx-4 lg:mx-40">
        
        <div class="border border-slate-300 flex flex-col gap-4 bg-white shadow-sm p-4 rounded-2xl">
            <div class="grid  w-full lg:overflow-visible">
                <div class="flex   gap-2 font-bold text-blue-gray-500">

                    <div class="inline-flex ">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>

                    </div>

                </div>
            </div>
            <p class="text-sm leading-relaxed">
                HourHive has completely revolutionized the way our team manages projects and collaborates on tasks. As a
                project manager, I've used a variety of tools over the years, but none have offered the perfect blend of
                simplicity, functionality, and customization like HourHive.
            </p>

            <div class="Header flex  items-center gap-4">
                <div class="logo profile-img w-10 h-10 rounded-full">

                </div>
                <div class="Heading-name text-lg font-medium">
                    <div>James L</div>
                    <div class="text-xs text-slate-500 font-medium">Ceo at XYZ</div>
                </div>
            </div>
        </div>

        <div class="border border-slate-300 flex flex-col gap-4 bg-white shadow-sm p-4 rounded-2xl">
            <div class="grid  w-full lg:overflow-visible">
                <div class="flex   gap-2 font-bold text-blue-gray-500">

                    <div class="inline-flex ">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>

                    </div>

                </div>
            </div>
            <p class="text-sm leading-relaxed">
                HourHive has completely revolutionized the way our team manages projects and collaborates on tasks. As a
                project manager, I've used a variety of tools over the years, but none have offered the perfect blend of
                simplicity, functionality, and customization like HourHive.
            </p>

            <div class="Header flex  items-center gap-4">
                <div class="logo profile-img w-10 h-10 rounded-full">

                </div>
                <div class="Heading-name text-lg font-medium">
                    <div>James L</div>
                    <div class="text-xs text-slate-500 font-medium">Ceo at XYZ</div>
                </div>
            </div>
        </div>

        <div class="border border-slate-300 flex flex-col gap-4 bg-white shadow-sm p-4 rounded-2xl">
            <div class="grid  w-full lg:overflow-visible">
                <div class="flex   gap-2 font-bold text-blue-gray-500">

                    <div class="inline-flex ">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 text-yellow-500 cursor-pointer">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>

                    </div>

                </div>
            </div>
            <p class="text-sm leading-relaxed">
                HourHive has completely revolutionized the way our team manages projects and collaborates on tasks. As a
                project manager, I've used a variety of tools over the years, but none have offered the perfect blend of
                simplicity, functionality, and customization like HourHive.
            </p>

            <div class="Header flex  items-center gap-4">
                <div class="logo profile-img w-10 h-10 rounded-full">

                </div>
                <div class="Heading-name text-lg font-medium">
                    <div>James L</div>
                    <div class="text-xs text-slate-500 font-medium">Ceo at XYZ</div>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="py-12 font-poppins bg-gray-200">
    <div class="Header py-6 gap-8 justify-center flex flex-col text-center">
        <div class="text-2xl font-medium lg:text-4xl">
            Simple and Transparent Pricing
        </div>
        <div class="mx-auto max-w-prose text-lg text-slate-600">
            <p>
                Choose the plan that best suits your needs. Whether you're an individual, a small business, or an
                enterprise,
                we offer flexible pricing tiers designed to give you the best value.
            </p>
        </div>

        <div class="flex text-center justify-center ">
            <div class="flex bg-white py-1.5 px-2 rounded-full text-lg font-medium flex-row gap-2 ">
                <button
                    class="bg-blue-500 rounded-full py-1 px-5 text-white transition-all ease-in-out cursor-pointer ">Monthly</button>
                <button
                    class=" rounded-full py-1 px-5 text-gray-700 transition-all ease-in-out cursor-pointer ">Annual</button>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-4 lg:mx-20">
       
        <div class="card border shadow-sm bg-white p-5 rounded-2xl border-slate-500">
            <div class="pb-3 mb-4 border-b">
                <div class="text-xs text-bluegray-400 mb-2">START</div>
                <h2 class="text-4xl m-0 font-normal">Free</h2>
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Basic task management and to-do lists
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Team collaboration with real-time updates
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>File sharing and document collaboration
            </div>
            <div class="flex items-center mb-5">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Task assignment and priority tracking
            </div>
            <div class="mt-auto w-full  ">
                <button
                    class="bg-bluegray-800  hover:scale-105 transition-all duration-400 cursor-pointer bg-blue-500 rounded-3xl  text-white py-2 border-none w-full flex items-center px-3">
                    Button
                    <svg class="ml-auto" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M19 12H4.75"></path>
                    </svg>
                </button>
                <div class="text-xs mt-3 text-center text-bluegray-600 leading-6">Literally you probably haven't heard
                    of them
                    anywhere else.</div>
            </div>
        </div>


       
        <div class="card  text-white shadow-lg border bg-blue-600 p-5 rounded-2xl border-blue-700">
            <div class="pb-3 mb-4 border-b">
                <div class="text-sm py-1 px-2  bg-white w-fit rounded-full  text-blue-700 mb-2">Most Popular</div>
                <h2 class="text-4xl m-0 font-normal">Pro</h2>
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Basic task management and to-do lists
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Team collaboration with real-time updates
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>File sharing and document collaboration
            </div>
            <div class="flex items-center mb-5">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Task assignment and priority tracking
            </div>
            <div class="mt-auto w-full">
                <button
                    class=" rounded-full cursor-pointer hover:scale-105 transition-all duration-400 bg-blue-500 text-white py-2 border-none w-full flex items-center px-3">
                    Button
                    <svg class="ml-auto" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M19 12H4.75"></path>
                    </svg>
                </button>
                <div class="text-xs mt-3 text-center text-bluegray-600 leading-6">Literally you probably haven't heard
                    of them
                    anywhere else.</div>
            </div>
        </div>

       
        <div class="card border shadow-sm bg-white p-5 rounded-2xl border-slate-500">
            <div class="pb-3 mb-4 border-b">
                <div class="text-xs text-bluegray-400 mb-2">START</div>
                <h2 class="text-4xl m-0 font-normal">Enterprise</h2>
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Basic task management and to-do lists
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Team collaboration with real-time updates
            </div>
            <div class="flex items-center mb-2">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>File sharing and document collaboration
            </div>
            <div class="flex items-center mb-5">
                <svg width="24" height="24" fill="none" class="text-green-500 mr-1" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M5.75 12.8665L8.33995 16.4138C9.15171 17.5256 10.8179 17.504 11.6006 16.3715L18.25 6.75">
                    </path>
                </svg>Task assignment and priority tracking
            </div>
            <div class="mt-auto ounded-full w-full">
                <button
                    class=" rounded-full bg-bluegray-800 hover:scale-105 transition-all duration-400 cursor-pointerc bg-blue-500 text-white py-2 border-none w-full flex items-center px-3">
                    Buy Now
                    <svg class="ml-auto" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M19 12H4.75"></path>
                    </svg>
                </button>
                <div class="text-xs mt-3 text-center text-bluegray-600 leading-6">Literally you probably haven't heard
                    of them
                    anywhere else.</div>
            </div>
        </div>
    </div>
</section>

<section class="bg-blue-600 lg:py-24 py-12 font-poppins relative">
    <div class="flex flex-col lg:gap-12 gap-6">
        <div class="text-center lg:text-4xl text-xl flex gap-2 flex-col font-medium text-white">
            <div>Ready to transform your Projects?</div>
            <div>Get Started Todays!</div>
        </div>
        <div class="flex justify-center">
            <button class="bg-white text-blue-800 px-4 lg:text-base text-sm font-medium py-3 rounded-full"> 
                Get Started
            </button>
        </div>
    </div>
</section>

<section class=" bg-white py-14  z-10">
    <div class="flex flex-row mx-24">
        <div>
            <img width="200" src="assets/logo.svg" alt="Logo">
        </div>
        <div></div>
    </div>
</section>
